# Prerequisites
*.d

# Mac OS created folders through NetBeans
.AppleDouble

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# NetBeans Section
Server/dist/

# XCode section
DerivedData/

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ComLib/build/
/ComLib/dist/
/ComLib/.dep.inc
/DataLib/build/
/DataLib/dist/
/Server/build/
/Server/.dep.inc
/DataLib/.dep.inc
/CameraLib/build/
/CameraLib/dist/
/CameraLib/.dep.inc
/Utils/build/
/Utils/dist/
/Utils/.dep.inc
